<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Zombies</title>
  <!-- CSS  -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-to">
  <a class="navbar-brand" href="#">PETZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index.php">Home</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="registro_zombie.php">Zombies Registrados</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="estado_zombies.php">Zombies por Estado</a>
      </li>
     
    </ul>
  </div>  
</nav>