<div class="container">
    <div class="xbox">
          <center><h1>Lab 24 Utilizando Api Google maps</h1></center><br>
          <p>Alejandro Alvarez Palafox</p>
        	<p>A01207765</p>
        	<p>Correo: a01207765@itesm.mx</p>
        	<br>
          <div id="map"></div>
      <br><br><hr>
      <h2>Preguntas</h2><br>
      <p>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros? </p>
      <div class="answer">
        
        <p>La ventaja es que puedes reutilizar que ya existe, ahorrando tiempo y además es más segura una  API, ya que es que es una empresa confiable y reconocida.</p>
        <p>La desventaja es que dependes de terceros en donde no tienes control directo de la falla de la API.</p>
      </div>
    </div>
</div>



 