 <!-- Modal Structure -->
      <h3>Estacion 3-cisne</h3>
      <br>
      <div class="row">
        <form id="registro" class="col s12" method="POST" action="registrar_sesion.php">
          <div class="row"><!-- Parametros empleados-->
            <p>: </p>
            <div class="input-field col s4">
              <input id="Nombre" name="Nombre" type="text" class="validate" required>
              <label for="Nombre">Ingresar a la aplicación</label>
            </div>
           
          </div>
          <button type="submit" id="registrarse" >Ingresar</button>
        </form>
      </div>
    </div>
    <br><br>
