<hr>
<div class="center">
    <h3>Cuestionario</h3>
</div>
<ul>
    <li>
        1. ¿A qué se refiere la descentralización de servicios web?<br>
        <strong class="answer">Se refiere a tener servicios web desplegados en diferentes lugares o sitios.</strong>
    </li>
    <li>
        2. ¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?<br> 
        <strong class="answer">Descentralizando los servicios web para que cuando falle un servidor se pueda obtener el servicio desde otro servidor. </strong>
    </li>
</ul>